In [1]:
import pandas as pd
import re

In [2]:
with open('Hindi Dataset/train/0.txt', encoding='utf-8') as file:
    text = file.read()

In [3]:
sentences = re.split(r' *[।?!]', text)
sentences = [sentence.replace('\n','') for sentence in sentences]
sentences

['चैनल एस एक बांग्ला टीवी चैनल है', ' यह एक मनोरंजन चैनल है', '']

In [4]:
# Pick 3 sentences to display
NUM_SENT = 3

if len(sentences) < NUM_SENT:
    display = sentences
else:
    display = sentences[:NUM_SENT]

In [5]:
display = '।'.join(sentences)
display

'चैनल एस एक बांग्ला टीवी चैनल है। यह एक मनोरंजन चैनल है।'

In [6]:
try:
    df = pd.read_csv('data.csv')
except:
    print('Creating dataframe for the first time')
    df = pd.DataFrame(columns=['data', 'labels'])
df.head()

                                                data    labels
0  चैनल एस एक बांग्ला टीवी चैनल है। यह एक मनोरंजन...  Politics
1  अभिनव कदम हिन्दी की एक साहित्यिक पत्रिका है।  ...     India

In [7]:
new_row = {'data':[display], 'labels':['Society']}
new_row

{'data': ['चैनल एस एक बांग्ला टीवी चैनल है। यह एक मनोरंजन चैनल है।'],
 'labels': ['Society']}

In [8]:
df = pd.concat([df,pd.DataFrame(new_row)], ignore_index=True)
df

                                                data    labels
0  चैनल एस एक बांग्ला टीवी चैनल है। यह एक मनोरंजन...  Politics
1  अभिनव कदम हिन्दी की एक साहित्यिक पत्रिका है।  ...     India
2  चैनल एस एक बांग्ला टीवी चैनल है। यह एक मनोरंजन...   Society

In [59]:
df.to_csv('data.csv', index = False)

In [12]:
import glob
ls = glob.glob('Hindi Dataset/train/*.txt')

In [13]:
ls

['Hindi Dataset/train/12.txt',
 'Hindi Dataset/train/10.txt',
 'Hindi Dataset/train/11.txt',
 'Hindi Dataset/train/0.txt',
 'Hindi Dataset/train/1.txt']

In [ ]:
while True:
    filepath = ls[i]